<div class="card mb-4 text-center">
    <img src="assets/img/manel.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Manel's Photo" style="max-height: 190px; max-width: 190px;">
    <div class="card-body">
    <h5 class="card-title">Manel Castellví Cerezuela</h5>
    <p class="card-text">I'm Manel, a tech enthusiast driven by an unwavering commitment to excellence. With a keen eye for effective solutions, I'm on a perpetual quest for improvement. My dedication to the programming realm is fueled by a desire to contribute in innovative and impactful ways. Let's embark on this journey of innovation together!</p>
    <a href="https://www.linkedin.com/in/manelcc/" class="btn btn-primary" target="_blank">LinkedIn</a>
    </div>
</div>