<div class="container mt-4">
<div class="card">
    <div class="card-header">
    <h2>{{ character.name }}</h2>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-md-4">
        <img [src]="character.image" alt="{{ character.name }} Image" class="img-fluid">
        </div>
        <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item"><strong>Status:</strong> {{ character.status }}</li>
            <li class="list-group-item"><strong>Species:</strong> {{ character.species }}</li>
            <li class="list-group-item"><strong>Type:</strong> {{ character.type }}</li>
            <li class="list-group-item"><strong>Gender:</strong> {{ character.gender }}</li>
        </ul>
        </div>
    </div>
    <div class="mt-3">
        <h3>Origin:</h3>
        <p>{{ character.origin.name }}</p>
    </div>
    <div class="mt-3">
        <h3>Location:</h3>
        <p>{{ character.location.name }}</p>
    </div>
    <h3 class="mt-3">Episodes:</h3>
    <ul class="list-group">
        @for (episode of character.episode; track $index) {
        <li>
        <a [href]="episode">{{ episode }}</a>
        </li>}
    </ul>
    <p class="mt-3"><strong>Created:</strong> {{ character.created | date: 'medium' }}</p>
    </div>
</div>
</div>
