<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>{{ character.name }}</h2>
            <button (click)="editCharacter()">Editar</button>
            <button (click)="deleteCharacter()">Eliminar</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="character.image" alt="{{ character.name }} Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Status:</strong> {{ character.status }}</li>
                        <li class="list-group-item"><strong>Species:</strong> {{ character.species }}</li>
                        <li class="list-group-item"><strong>Type:</strong> {{ character.type }}</li>
                        <li class="list-group-item"><strong>Gender:</strong> {{ character.gender }}</li>
                        <li class="list-group-item"><strong>Oriin:</strong> {{ character.origin }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>