<section id="features" class="container">
    <h2 class="text-center mb-4">Our Features</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3>Character Search</h3>
                <p>Search for all the characters you want in an instant.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box" routerLink="/characters">
                <h3>All Characters</h3>
                <p>We'll provide you with a list of characters from the world of Rick and Morty.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box" routerLink="/randomcharacters">
                <h3>Random Characters</h3>
                <p>We'll give you a random list of characters from the world of Rick and Morty.</p>
            </div>
        </div>
    </div>
</section>
