<p>movie works!</p>
<div class="col-md-2" >
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ movie.id }}</h5>
            <h5 class="card-title">{{ movie.adult }}</h5>
            <h5 class="card-title">{{ movie.original_title }}</h5>
            <h5 class="card-title">{{ movie.overview }}</h5>
            <!--<img class="img-responsive" src="{{movie.backdrop_path}}">--><!--TODO NO SE DONDE OBTENER LOS DATOS DE LA IAMGNE-->
        </div>
    </div>
</div>